In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df_stock_market = pd.read_csv('/dataset/csv/tickers_argentina.csv', sep=';', decimal=',')  
df_stock_market = df_stock_market.reset_index()
del df_stock_market['index']
df_stock_market = df_stock_market.set_index(['Date', 'Ticker'])

In [3]:
df_stock_market.head(10)

                    Open  High   Low  Close  Adj Close    Volume
Date       Ticker
2010-11-05 TGLT.BA  9.50  9.60  9.25   9.60       9.60  101700.0
2010-11-08 TGLT.BA  9.51  9.60  9.30   9.60       9.60   12400.0
2010-11-09 TGLT.BA  9.40  9.40  9.20   9.35       9.35   20400.0
2010-11-10 TGLT.BA  9.20  9.45  9.20   9.45       9.45    7100.0
2010-11-11 TGLT.BA  9.60  9.60  9.60   9.60       9.60     200.0
2010-11-12 TGLT.BA  9.50  9.50  9.45   9.45       9.45    5200.0
2010-11-15 TGLT.BA  9.10  9.40  9.10   9.10       9.10       0.0
2010-11-16 TGLT.BA  8.00  9.15  8.00   8.00       8.00       0.0
2010-11-17 TGLT.BA  9.40  9.50  9.40   9.50       9.50    2400.0
2010-11-18 TGLT.BA  9.10  9.10  9.10   9.10       9.10       0.0

In [4]:
#Create new rows using simple mean (window for 7, 14 days)
df_stock_market['MA_7'] = df_stock_market['Close'].rolling(window=7).mean()
df_stock_market['MA_14'] = df_stock_market['Close'].rolling(window=14).mean()
df_stock_market['MA_20'] = df_stock_market['Close'].rolling(window=20).mean()
df_stock_market['MA_50'] = df_stock_market['Close'].rolling(window=50).mean()
df_stock_market['MA_100'] = df_stock_market['Close'].rolling(window=100).mean()

#Create new adjusted values for Open, High, Low using Adj Close
df_stock_market['Adj_Open'] = df_stock_market['Open'] * df_stock_market['Adj Close'] / df_stock_market['Close']
df_stock_market['Adj_High'] = df_stock_market['High'] * df_stock_market['Adj Close'] / df_stock_market['Close']
df_stock_market['Adj_Low'] = df_stock_market['Low'] * df_stock_market['Adj Close'] / df_stock_market['Close']

#Create ratio difference using Close and Adj Close to calculate the 
#change with the current value vs prior element
df_stock_market['Ratio_Close'] = df_stock_market.Close.pct_change()
df_stock_market['Ratio_Adj_Close'] = df_stock_market['Adj Close'].pct_change()

df_stock_market['Cumulative_Return'] = (1 + df_stock_market['Ratio_Close']).cumprod()

#Create Total Traded estimation
df_stock_market['Total_Traded'] = df_stock_market['Open'] * df_stock_market['Volume']

In [5]:
df_stock_market.head(10)

,,Open,High,Low,Close,Adj Close,Volume,MA_7,MA_14,MA_20,MA_50,MA_100,Adj_Open,Adj_High,Adj_Low,Ratio_Close,Ratio_Adj_Close,Cumulative_Return,Total_Traded
Date,Ticker,,,,,,,,,,,,,,,,,,
2010-11-05,TGLT.BA,9.50,9.60,9.25,9.60,9.60,101700.0,NaN,NaN,NaN,NaN,NaN,9.50,9.60,9.25,NaN,NaN,NaN,966150.000000
2010-11-08,TGLT.BA,9.51,9.60,9.30,9.60,9.60,12400.0,NaN,NaN,NaN,NaN,NaN,9.51,9.60,9.30,0.000000,0.000000,1.000000,117924.002838
2010-11-09,TGLT.BA,9.40,9.40,9.20,9.35,9.35,20400.0,NaN,NaN,NaN,NaN,NaN,9.40,9.40,9.20,-0.026042,-0.026042,0.973958,191759.992218
2010-11-10,TGLT.BA,9.20,9.45,9.20,9.45,9.45,7100.0,NaN,NaN,NaN,NaN,NaN,9.20,9.45,9.20,0.010695,0.010695,0.984375,65319.998646
2010-11-11,TGLT.BA,9.60,9.60,9.60,9.60,9.60,200.0,NaN,NaN,NaN,NaN,NaN,9.60,9.60,9.60,0.015873,0.015873,1.000000,1920.000076
2010-11-12,TGLT.BA,9.50,9.50,9.45,9.45,9.45,5200.0,NaN,NaN,NaN,NaN,NaN,9.50,9.50,9.45,-0.015625,-0.015625,0.984375,49400.000000
2010-11-15,TGLT.BA,9.10,9.40,9.10,9.10,9.10,0.0,9.450000,NaN,NaN,NaN,NaN,9.10,9.40,9.10,-0.037037,-0.037037,0.947917,0.000000
2010-11-16,TGLT.BA,8.00,9.15,8.00,8.00,8.00,0.0,9.221429,NaN,NaN,NaN,NaN,8.00,9.15,8.00,-0.120879,-0.120879,0.833333,0.000000
2010-11-17,TGLT.BA,9.40,9.50,9.40,9.50,9.50,2400.0,9.207143,NaN,NaN,NaN,NaN,9.40,9.50,9.40,0.187500,0.187500,0.989583,22559.999084
2010-11-18,TGLT.BA,9.10,9.10,9.10,9.10,9.10,0.0,9.171429,NaN,NaN,NaN,NaN,9.10,9.10,9.10,-0.042105,-0.042105,0.947917,0.000000

In [7]:
df_stock_market.to_csv('/dataset/reporting/tickers_reporting.csv', sep=';', decimal=',')